/* SettingsView.css */

:root {
    --background-color-dark: #1b2230;
    --background-color-light: #f1f1e6;
    
  }
  
  * {
    background-color: var(--background-color-dark);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .dark {
    background-color: var(--background-color-dark);
  }
  
  .light {
    background-color: var(--background-color-light);
  }
  


.leftSide {
    display: block;
    width: 17.5%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5%;
    z-index: 1000;
}

.AppLogo.dark, .AppLogo.light{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: relative;
    text-align: center;
}

.AppLogo.dark > h1{
    font-size: 60px;
}

.AppLogo.light > h1{
    font-size: 60px;
    background-color: #f1f1e6;
}

.AppLogo.light > h1{
    font-size: 60px;
    color: #94810a;
    background-color: #f1f1e6;
}

.AppLogo.dark span{
    color: #0d4d8d;
}

.AppLogo.light span {
    color: #94810a;
    background-color: #f1f1e6;
}

.NavigationBar.dark,.NavigationBar.light  {
    display: block;
    height: 65%;
    position: relative;
}


.NavigationBar.dark ul,.NavigationBar.light ul {
    list-style-type: none;
    padding: 0;
}

.NavigationBar.dark li {
    padding: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f1f1e6;
    background-color: #0d4d8d;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.NavigationBar.light li{
    padding: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f1f1e6;
    background-color: #94810a;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.NavigationBar.dark li:hover {
    background-color: #4192d9;
}

.NavigationBar.light li:hover {
    background-color: #94810a;
}

.NavigationBar.dark li:active {
    background-color: #77aaf0;
}

.NavigationBar.light li:active {
    background-color: #94810a;
}

.NavigationBar.dark li::before,
.NavigationBar.light li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 20px;
    margin-right: 5px;
}

.NavigationBarIcon.dark {
    background-color: #0d4d8d;
    transition: background-color 0.3s ease;
    width: 20%;
    height: 20%;
    padding-right: 20px;
}

.NavigationBarIcon.light {
    background-color: #94810a;
    transition: background-color 0.3s ease;
    width: 20%;
    height: 20%;
    padding-right: 20px;
}


.NavigationBar.dark li:hover img {
    background-color: #4192d9;
}

.NavigationBar.light li:hover img {
    background-color: #94810a;
}


.NavigationBar.dark li:active img {
    background-color: #77aaf0;
}

.NavigationBar.light li:active img {
    background-color: #94810a;
}

.LogOut.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    position: relative;
}

.LogOut.light {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    position: relative;
}

.LogOut.dark div {
    padding: 2% 20% 1% 20%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border-radius: 5px;
    margin: 0;
}

.LogOut.light div {
    padding: 2% 20% 1% 20%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border-radius: 5px;
    margin: 0;
    background-color: #94810a;
}

.LogOut.dark div:hover {
    background-color: #4192d9;
    border-radius: 5px;
}

.LogOut.light div:hover {
    background-color: #94810a;
    border-radius: 5px;
}

.LogOut div:hover p, .LogOut div:hover .LogOutIcon {
    background-color: #4192d9;
}

.LogOut.dark div:hover p, .LogOut.dark div:hover .LogOutIcon.dark {
    background-color: #4192d9;
}

.LogOut.light div:hover p, .LogOut.light div:hover .LogOutIcon.light {
    background-color: #94810a;
}

.LogOut.dark div:active {
    background-color: #77aaf0;
    border-radius: 5px;
}

.LogOut.light div:active {
    background-color: #94810a;
    border-radius: 5px;
}

.LogOut.dark div:active p, .LogOut.dark div:active .LogOutIcon.dark {
    background-color: #77aaf0;
}

.LogOut.light div:active p, .LogOut.light div:active .LogOutIcon.light {
    background-color: #94810a;
}

.LogOut.dark div > p, .LogOut.dark div > .LogOutIcon.dark {
    float: left;
    transition: background-color 0.3s ease;
}

.LogOut.light div > p, .LogOut.light div > .LogOutIcon.light {
    float: left;
    transition: background-color 0.3s ease;
}

.LogOut.dark div > p {
    margin-top: 6%;
}

.LogOut.light div > p {
    margin-top: 6%;
    background-color: #94810a;

}

.LogOutIcon.dark {
    width: 25%;
    height: 25%;
    padding-right: 10px;
    margin-top: 6%;
}

.LogOutIcon.light {
    width: 25%;
    height: 25%;
    padding-right: 10px;
    margin-top: 6%;
    background-color: #94810a;
}

.centerSide.dark, .centerSide.light {
    display: block;
    width: 60%;
    height: 100vh;
    float: left;
    position: relative;
    padding: 0.5%;
    margin-left: 17.5%;
}

.SayHello {
    display: block;
    height: 20%;
}

.SayHello h3 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 25%;
    left: 4%;
}

.SayHello p {
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: 25%;
    left: 4%;
}

.TasksList.dark {
    display: block;
    position: relative;
    margin: 0 10px;
    padding: 8px 10px;
    border: 1px solid #0d4d8d;
    background-color: #0d4d8d;
    border-radius: 10px;
}

.TasksList.light {
    display: block;
    position: relative;
    margin: 0 10px;
    padding: 8px 10px;
    border: 1px solid #94810a;
    background-color: #94810a;
    border-radius: 10px;
}

.TasksList.dark > h3 {
    background-color: #0d4d8d;
    margin-bottom: 10px;
}

.TasksList.light > h3 {
    background-color: #94810a;
    margin-bottom: 10px;
}

.taskButtons.dark {
    display: flex;
    justify-content: center;
    background-color: #0d4d8d;
    gap: 2px;
}

.taskButtons.light {
    display: flex;
    justify-content: center;
    background-color: #f1f1e6;
    gap: 2px;
}

.taskButtons.dark .SearchButton.dark,
.taskButtons.dark .FilteringButton.dark, .taskButtons.dark .SortingButton.dark, .taskButtons.dark .AddButton.dark, .submit-button.dark {
    background-color: #4192d9;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(25% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.taskButtons.light .SearchButton.light,
.taskButtons.light .FilteringButton.light, .taskButtons.light .SortingButton.light, .taskButtons.light .AddButton.light, .submit-button.light {
    background-color: #94810a;
        border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(25% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}



.SearchButton, .FilteringButton, .AddButton {
    background-color: #4192d9;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(10% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.opinion-form.light .AddButton{
    background-color: #f1f1e6;
    color: #94810a;


}



.InputSearch {
    padding: 8px 8px;
    background-color: #4192d9;
    color: #f1f1e6;
    border: 2px solid transparent;
    font-size: 18px;
    border-radius: 5px;
    width: calc(15% - 8px);
    margin: 5px;
}

.InputSearch::placeholder {
    color: #f1f1e6; /* Optional: change placeholder color */
}

.SelectList {
    padding: 11px 11px;
    background-color: #4192d9;
    color: #f1f1e6;
    border: 2px solid transparent;
    font-size: 18px;
    border-radius: 5px;
    width: calc(15% - 8px);
    margin: 5px;
}

.SearchButton.dark:hover,
.FilteringButton.dark:hover, .taskButtons.dark .SortingButton.dark:hover, .AddButton.dark:hover {
    background-color: #77aaf0;
}

.SearchButton.light:hover,
.FilteringButton.light:hover, .taskButtons.light .SortingButton.light:hover, .AddButton.light:hover {
    background-color: #f1f1e6;
}

.SearchButton.dark:active,
.FilteringButton.dark:active, .taskButtons.dark .SortingButton.dark:active, .AddButton.dark:active {
    background-color: #77aaff;
}

.SearchButton.light:active,
.FilteringButton.light:active, .taskButtons.light .SortingButton.light:active, .AddButton.light:active {
    background-color: #f1f1e6;
}

.taskButtons .SearchInput {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(25% - 8px);
    text-align: center;
}

.TasksListTable.dark {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;

}

.TasksListTable.light{
    border-radius: 5px;

    position: relative;
    width: 100%;
    border-collapse: collapse;
    background-color: #f1f1e6;
}

.TasksListTable.light table{
    border-radius: 5px;

    background-color: #f1f1e6;
}



.TaskListActionsBlock.dark {
    background-color: #0d4d8d;
    margin-bottom: 30px;
}

.TaskListActionsBlock.light {
    background-color: #94810a;
    margin-bottom: 30px;
}

.TaskListCategoryTitleBlock.dark {
    background-color: #0d4d8d;
    position: relative;
    left: 10px;
    margin-top: 10px;
    width: 70%;
}


.TaskListCategoryTitleBlock.light {
    background-color: #94810a;
    position: relative;
    left: 10px;
    margin-top: 10px;
    width: 70%;
}

.TaskListActionsBlock.dark .TaskListCategoryTitleBlock.dark {
    border-radius: 5px;
    width: calc(80%);
    padding: 0.5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TaskListActionsBlock.light .TaskListCategoryTitleBlock.light {
    border-radius: 5px;
    width: calc(80%);
    padding: 0.5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #94810a;
}

.TaskTitleIcon {
    background-color: transparent;
    transition: background-color 0.3s ease;
    width: 15%;
    height: 15%;
    padding-right: 20px;
}

.TasksList,.dark th {
    border-bottom: 2px solid #1b2230;
    padding: 15px 30px;
    background-color: #0d4d8d;
}

.TasksList.light th {
    border-bottom: 2px solid #94810a;
    padding: 15px 30px;
    background-color: #f1f1e6;
    color: #94810a;

}

.TasksList.dark td {
    border-bottom: 1px solid #1b2230;
    padding: 20px 30px;
    background-color: #0d4d8d;
}

.TasksList.light td {
    border-bottom: 1px solid #94810a;
    padding: 20px 30px;
    background-color: #f1f1e6;
    color: #94810a;

}

.SayHello.light h3{
    background-color: #f1f1e6;
    color: #94810a;
}

.SayHello.light p{
    background-color: #f1f1e6;
    color: #94810a;
}


.Table_Name {
    width: 25%;
}

.Table_Deadline {
    width: 20%;
}

.Table_Status {
    width: 20%;
}

.Table_Details {
    width: 35%;
}

.Table_ID {
    width: 5%;
}

.Table_Priority {
    width: 5%;
}

.Table_Details.dark span {
    background-color: #0d4d8d;
    font-style: italic;
    color: #4192d9;
    margin-right: 50px;
}

.Table_Details.light span {
    background-color: #f1f1e6;
    font-style: italic;
    color: #94810a;
    margin-right: 50px;
}


.Table_Details span:hover {
    text-decoration: underline;
    color: #77aaf0;
}

.Table_Details span:active {
    text-decoration: underline;
    color: #f1f1e6;
}

.Table_Details.dark .EditButton.dark, .Table_Details.dark .DeleteButton.dark {
    background-color: #4192d9;
    float: right;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 14px;
    width: calc(25% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.Table_Details.light .EditButton.light, .Table_Details.light .DeleteButton.light {
    background-color: #94810a;
    float: right;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 14px;
    width: calc(25% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.TaskListActionsBlock.dark .TaskListCategoryTitleBlock.dark {
    border-radius: 5px;
    width: calc(35%);
    padding: 0.5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.TaskListActionsBlock.light .TaskListCategoryTitleBlock.light {
    border-radius: 5px;
    width: calc(35%);
    padding: 0.5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.TaskListActionsBlock.dark .TaskListCategoryTitleBlock.dark:hover {
    background-color: #4192d9;
}

.TaskListActionsBlock.light .TaskListCategoryTitleBlock.light:hover {
    background-color: #94810a;
}

.TaskListActionsBlock.dark .TaskListCategoryTitleBlock.dark:active {
    background-color: #77aaf0;
}

.TaskListActionsBlock.light .TaskListCategoryTitleBlock.light:active {
    background-color: #94810a;
}

.rightSide {
    display: block;
    width: 22.5%;
    height: 100vh;
    float: left;
    position: relative;
}

.UserMenu.dark {
    display: block;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: relative;
}

.UserMenu.light {
    display: block;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: relative;
    background-color: #f1f1e6;

}

.UserMenu.dark div {
    font-size: 26px;
    font-weight: bold;
    margin: 0 10px;
    font-style: italic;
    position: relative;
    top: 25%;
    left: 10%;
}

.UserMenu.light div {
    font-size: 26px;
    font-weight: bold;
    margin: 0 10px;
    font-style: italic;
    position: relative;
    top: 25%;
    left: 10%;
    background-color: #f1f1e6;

}

.UserMenu.dark div > p {
    margin-top: 8%;
    float: left;

}

.UserMenu.light div > p {
    margin-top: 8%;
    float: left;
    background-color: #f1f1e6;
    color: #94810a;

}

.UserIcon.dark {
    width: 30%;
    height: 30%;
    padding-right: 10px;
    float: left;
}

.UserIcon.light {
    width: 30%;
    height: 30%;
    padding-right: 10px;
    float: left;
    background-color: #94810a;
}



.CategoriesList.dark {
    display: block;
    position: relative;
    margin: 1% 10px 15px 10px;
    border: 1px solid #0d4d8d;
    background-color: #0d4d8d;
    border-radius: 10px;
    padding: 8px 10px;
    height: 75%;
    overflow: scroll;
}

.CategoriesList.light {
    display: block;
    position: relative;
    margin: 1% 10px 15px 10px;
    border: 1px solid #94810a;
    background-color: #94810a;
    border-radius: 10px;
    padding: 8px 10px;
    height: 75%;
    overflow: scroll;
}

.categoryButtons.dark {
    display: flex;
    justify-content: center;
    background-color: #0d4d8d;
    gap: 2px;
}

.categoryButtons.light {
    display: flex;
    justify-content: center;
    background-color: #94810a;
    gap: 2px;
}

.categoryButtons.dark .SearchButton.dark, .categoryButtons.dark .AddButton.dark {
    background-color: #4192d9;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(50% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.categoryButtons.light .SearchButton.light, .categoryButtons.light .AddButton.light {
    background-color: #f1f1e6;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #94810a;
    font-size: 18px;
    width: calc(50% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.SearchButton.dark:hover,
.FilteringButton.dark:hover, .AddButton.dark:hover {
    background-color: #77aaf0;
}

.SearchButton.light:hover,
.FilteringButton.light:hover, .AddButton.light:hover {
    background-color: #f1f1e6;
}

.SearchButton.dark:active,
.FilteringButton.dark:active, .AddButton.dark:active {
    background-color: #77aaff;
}

.SearchButton.light:active,
.FilteringButton.light:active, .AddButton.light:active {
    background-color: #f1f1e6;
}


.categoryButtons.dark .SearchInput.dark {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(50% - 8px);
    text-align: center;
}

.categoryButtons.light .SearchInput.light {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(50% - 8px);
    text-align: center;
}

.CategoriesList.dark table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.CategoriesList.light table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    background-color: #94810a;
}

.CategoriesList.dark > h3 {
    background-color: #0d4d8d;
}

.CategoriesList.light > h3 {
    background-color: #94810a;
}



.CategoriesList.dark th {
    border-bottom: 2px solid #1b2230;
    padding: 10px;
    background-color: #0d4d8d;
}

.CategoriesList.light th {
    border-bottom: 2px solid #f1f1e6;
    padding: 10px;
    background-color: #94810a;
}

.CategoriesList.dark td {
    border-bottom: 1px solid #1b2230;
    padding: 20px 1px;
    background-color: #0d4d8d;
}

.CategoriesList.light td {
    border-bottom: 1px solid #f1f1e6;
    padding: 20px 1px;
    background-color: #94810a;
}

.CategoryModifiers.dark .EditButton.dark, .CategoryModifiers.dark .DeleteButton.dark {
    background-color: #4192d9;
    float: right;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 14px;
    width: calc(40% - 2px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.CategoryModifiers.light .EditButton.light, .CategoryModifiers.light .DeleteButton.light {
    background-color: #f1f1e6;
    float: right;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    color: #94810a;
    font-size: 14px;
    width: calc(40% - 2px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.EditButton.dark:hover,
.DeleteButton.dark {
    background-color: #77aaf0;
}

.EditButton.light:hover,
.DeleteButton.light:hover {
    background-color: #94810a;
}

.EditButton:active,
.DeleteButton:active {
    background-color: #77aaff;
}

.EditButton.dark:active,
.DeleteButton.dark:active {
    background-color: #94810a;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d2230;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup h3 {
    margin-top: 0;
    text-align: center;
    color: #f1f1e6;
}

.popup input {
    color: white;
}

.popup label {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.popup div {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.popup .sortByContainer {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #0d4d8d;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .sortByContainer label {
    background-color: #0d4d8d;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.popup .sortByContainer label span {
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 95%;
    text-align: center;
}

.popup .sortByContainer label input {
    display: none;
}

.popup .sortByContainer label input:checked + span {
    background-color: #4192d9;
    color: white;
}

.popup input, .popup textarea, .popup select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    background-color: #4192d9;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    color: #f1f1e6;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #77aaf0;
}

.popup button:active {
    background-color: #77aaff;
}

.popup .buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.popup p {
    text-align: justify;
}


.CategoriesView.dark {
    display: block;
    height: 75%;
    position: relative;
    border: 1px solid #0d4d8d;
    background-color: #0d4d8d;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
    overflow: scroll;
}

.CategoriesView.light {
    display: block;
    height: 75%;
    position: relative;
    border: 1px solid #94810a;
    background-color: #94810a;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
    overflow: scroll;
}

.CategoriesView.dark table {
    width: 100%;
    border-collapse: collapse;
}

.CategoriesView.light table {
    width: 100%;
    background-color: #94810a;
    border-collapse: collapse;
}

.CategoriesView.dark > h3 {
    background-color: #0d4d8d;
}

.CategoriesView.light > h3 {
    background-color: #94810a;
}

.CategoriesView.dark th {
    border-bottom: 2px solid #1b2230;
    padding: 15px;
    background-color: #0d4d8d;
}

.CategoriesView.light th {
    border-bottom: 2px solid #f1f1e6;
    padding: 15px;
    background-color: #94810a;
}

.CategoriesView.dark td {
    border-bottom: 1px solid #1b2230;
    padding: 20px;
    background-color: #0d4d8d;
}

.CategoriesView.light td {
    border-bottom: 1px solid #f1f1e6;
    padding: 20px;
    background-color: #94810a;
}


.CategoriesView button {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.CategoriesViewOnRight button {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.CategoriesViewOnRight table {
    width: 100%;
    border-collapse: collapse;
}

.CategoriesViewOnRight td {
    border-bottom: 1px solid #1b2230;
    padding: 20px;
    background-color: #0d4d8d;
}

.CategoriesViewOnRight > h3 {
    background-color: #0d4d8d;
}

.CategoriesViewOnRight th {
    border-bottom: 2px solid #1b2230;
    padding: 15px;
    background-color: #0d4d8d;
}

.CategoriesViewOnRight {
    display: block;
    height: 85%;
    position: relative;
    border: 1px solid #0d4d8d;
    background-color: #0d4d8d;
    border-radius: 10px;
    padding: 10px;
    margin-top: -14px;
}

.back.dark {
    background-color: #0d4d8d;
}

.back.light {
    background-color: #94810a;
}


.opinion-form.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #0d4d8d;

}

.opinion-form.light {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #94810a;

}

.opinion-input.dark {
    width: 80%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #0d4d8d;
}


.opinion-input.light {
    width: 80%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #94810a;
}

.Blank {
    opacity: 0;
}

.overviewButtons {
    display: flex;
    justify-content: center;
    background-color: #0d4d8d;
    gap: 2px;
}

.overviewButtons .SearchButton,
.overviewButtons .FilteringButton, .overviewButtons .SortingButton, .overviewButtons .AddButton, .submit-button {
    background-color: #4192d9;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(33% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.overviewButtons .SearchButton:hover,
.overviewButtons .FilteringButton:hover, .overviewButtons .SortingButton:hover, .overviewButtons .AddButton:hover {
    background-color: #77aaf0;
}

.overviewButtons .SearchButton:active,
.overviewButtons .FilteringButton:active, .overviewButtons .SortingButton:active, .overviewButtons .AddButton:active {
    background-color: #77aaff;
}

.overviewButtons .SearchInput {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(33% - 8px);
    text-align: center;
}

.AdminAdditionalBlock {
    display: block;
    position: relative;
    margin: 1% 10px 15px 10px;
    border: 1px solid #0d4d8d;
    background-color: #0d4d8d;
    border-radius: 10px;
    padding: 8px 10px;
    height: 75%;
    overflow: scroll;
}

.AdminAdditionalBlock table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.AdminAdditionalBlock > h3 {
    background-color: #0d4d8d;
}

.AdminAdditionalBlock th {
    border-bottom: 2px solid #1b2230;
    padding: 10px;
    background-color: #0d4d8d;
}

.AdminAdditionalBlock td {
    border-bottom: 1px solid #1b2230;
    padding: 20px 1px;
    background-color: #0d4d8d;
}


  
