* {
    background-color: #1b2230;
    color: #f1f1e6;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.leftSide {
    display: block;
    width: 17.5%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5%;
    z-index: 1000;
}

.AppLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: relative;
    text-align: center;
}

.AppLogo > h1 {
    font-size: 60px;
}

.AppLogo span {
    color: #4192d9;
}

.NavigationBar {
    display: block;
    height: 65%;
    position: relative;
}

.NavigationBar ul {
    list-style-type: none;
    padding: 0;
}

.NavigationBar li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f1f1e6;
    background-color: #0d4d8d;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.NavigationBar li:hover {
    background-color: #4192d9;
}

.NavigationBar li:active {
    background-color: #77aaf0;
}

.NavigationBar li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.LogOut {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    position: relative;
}

.LogOut > p {
    text-align: center;
    padding: 4% 30%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border-radius: 5px;
    margin: 0;
}

.LogOut > p:hover {
    background-color: #4192d9;
    border-radius: 5px;
}

.LogOut > p:active {
    background-color: #77aaf0;
    border-radius: 5px;
}

.centerSide {
    display: block;
    width: 60%;
    height: 100vh;
    float: left;
    position: relative;
    padding: 0.5%;
    margin-left: 17.5%;
}

.SayHello {
    display: block;
    height: 20%;
}

.SayHello h3 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 25%;
    left: 4%;
}

.SayHello p {
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: 25%;
    left: 4%;
}

.TasksList {
    display: block;
    position: relative;
    margin: 0 10px;
    padding: 8px 10px;
    border: 1px solid #0d4d8d;
    background-color: #0d4d8d;
    border-radius: 10px;
}

.TasksList > h3 {
    background-color: #0d4d8d;
    margin-bottom: 10px;
}

.taskButtons {
    display: flex;
    justify-content: center;
    background-color: #0d4d8d;
    gap: 2px;
}

.taskButtons .SearchButton,
.taskButtons .FilteringButton, .taskButtons .AddButton {
    background-color: #4192d9;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(33% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.SearchButton:hover,
.FilteringButton:hover, .AddButton:hover {
    background-color: #77aaf0;
}

.SearchButton:active,
.FilteringButton:active, .AddButton:active {
    background-color: #77aaff;
}

.TasksListTable {
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

.TaskListActionsBlock {
    background-color: #0d4d8d;
    margin-bottom: 30px;
}

.TaskListCategoryTitleBlock {
    background-color: #0d4d8d;
    font-style: italic;
    position: relative;
    left: 10px;
    margin-top: 10px;
    width: 70%;
}

.TasksList th {
    border-bottom: 2px solid #1b2230;
    padding: 15px;
    background-color: #0d4d8d;
}

.TasksList td {
    border-bottom: 1px solid #1b2230;
    padding: 20px;
    background-color: #0d4d8d;
}

.TaskDetails span {
    background-color: #0d4d8d;
    font-style: italic;
    color: #4192d9;
    margin-right: 50px;
}

.TaskDetails span:hover {
    text-decoration: underline;
    color: #77aaf0;
}

.TaskDetails span:active {
    text-decoration: underline;
    color: #f1f1e6;
}

.TaskDetails .EditButton, .TaskDetails .DeleteButton {
    background-color: #4192d9;
    float: right;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 14px;
    width: calc(23% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.rightSide {
    display: block;
    width: 22.5%;
    height: 100vh;
    float: left;
    position: relative;
}

.UserMenu {
    display: block;
    height: 20%;
}

.UserMenu p {
    font-size: 26px;
    font-weight: bold;
    margin: 0 10px;
    font-style: italic;
    position: relative;
    top: 35%;
    left: 25%;
}

.CategoriesList {
    display: block;
    position: relative;
    margin: 1% 10px;
    border: 1px solid #0d4d8d;
    background-color: #0d4d8d;
    border-radius: 10px;
    padding: 8px 10px;
}

.categoryButtons {
    display: flex;
    justify-content: center;
    background-color: #0d4d8d;
    gap: 2px;
}

.categoryButtons .SearchButton, .categoryButtons .AddButton {
    background-color: #4192d9;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 8px 8px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 18px;
    width: calc(50% - 8px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.SearchButton:hover,
.FilteringButton:hover, .AddButton:hover {
    background-color: #77aaf0;
}

.SearchButton:active,
.FilteringButton:active, .AddButton:active {
    background-color: #77aaff;
}

.CategoriesList table {
    width: 100%;
    border-collapse: collapse;
}

.CategoriesList > h3 {
    background-color: #0d4d8d;
}

.CategoriesList th {
    border-bottom: 2px solid #1b2230;
    padding: 10px;
    background-color: #0d4d8d;
}

.CategoriesList td {
    border-bottom: 1px solid #1b2230;
    padding: 20px 1px;
    background-color: #0d4d8d;
}

.CategoryModifiers .EditButton, .CategoryModifiers .DeleteButton {
    background-color: #4192d9;
    float: right;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    color: #f1f1e6;
    font-size: 14px;
    width: calc(40% - 2px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.EditButton:hover,
.DeleteButton:hover {
    background-color: #77aaf0;
}

.EditButton:active,
.DeleteButton:active {
    background-color: #77aaff;
}
