.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 350px;
    background: #fff;
    padding-bottom: 30px;
    

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    background: #fff;}

.text{
    background: #fff;
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs{
    background: #fff;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 320px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    background: #eaeaea;

    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 15px;
    margin-top: 25px;
    background: #fff;   
    font-size: 18px;
    color: #797979;
    

}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
    background: #fff;
}

.submit-container{
    background: #fff;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}


.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    border-radius: 70px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    background-color: #4c00b4;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

.password-requirement{
    color: #797979;
    margin-left: 50px;
    background: #fff;
}