.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 200px;
    margin-left: 520px;
  }
  
  .toggle-switch.toggled {
    background-color: #4caf50;
  }
  
  .toggle-knob {
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
  }
  
  .toggle-switch.toggled .toggle-knob {
    transform: translateX(25px);
  }

  .textInSettings.dark{
    padding: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f1f1e6;
    background-color: #0d4d8d;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: 100px;
    margin-top: -47px;
    height: 65px;
    width: 500px;
  }

  .textInSettings.light{
    padding: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f1f1e6;
    background-color: #94810a;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: 100px;
    margin-top: -47px;
    height: 65px;
    width: 500px;
  }
  
  .t.dark{
    margin-top: 9px;
    background-color: #0d4d8d;
    margin-left: 5px;

  }

  .t.light{
    margin-top: 9px;
    background-color: #94810a;
    margin-left: 5px;

  }